extend default

block content
  script(src='/aliens.js')
  html.
    <div id="mygame" style="position: relative; width: 640px; height: 480px; overflow: hidden">
      <div id="sprite1" style="position: absolute; width: 72px; height: 97px; overflow: hidden">

      </div>
    </div>


