extend default

block content
  script(src='/GameFramework.js')
  html.
    <div id="mygame" style="position: relative; width: 650px; height: 490px; overflow: hidden">
      <div id="player1" style="position: absolute; width: 72px; height: 97px; overflow: hidden">

      </div>
    </div>


